*{
    font-family:'Open sana';
    color: teal;
}

body{
    color: blue;
}

.area{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width:200px;
    border-radius:8px
}
.text{
    text-align: center !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    color: aqua;
}
.btn{
    width:140px !important;
    height:40px !important;
background:skyblue !important;
color:white !important;
margin:auto !important;
margin-top:20px !important
}
.HomePage{
  justify-content: space-evenly;
  margin-top: 30px;
  padding: 20px;
}
.mainstack{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
    margin: auto !important;
    background-color: cornflowerblue !important;

}